<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Obisk mest{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="site-header">
        <nav class="navbar">
            <a class="brand" href="{{ url_for('index') }}">Obisk mest</a>
            <div class="nav-links">
                <a href="{{ url_for('nocitve') }}">
                    Nočitve
                </a>
                <a href="{{ url_for('iskanje') }}">
                    Aktivnosti
                </a>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>
