{% extends "base.html" %}

{% block title %}
Začetna stran
{% endblock %}

{% block content %}
<section>
    <h1>Obisk evropskih mest</h1>

    <p>
        Izberi mesto in preveri njegove aktivnosti,
        znamenitosti in dogodke.
    </p>

    {% if mesta %}
        {% for mesto in mesta %}
            <article>
                <h2>
                    <a href="{{ url_for('mesto', id=mesto['id']) }}">
                        {{ mesto["ime"] }}
                    </a>
                </h2>

                <p>Država: {{ mesto["drzava"] }}</p>

                <p>
                    Priljubljenost:
                    {{ mesto["priljubljenost"] }}/5
                </p>

                <p>
                    Priporočeno število dni:
                    {{ mesto["priporoceni_dnevi"] }}
                </p>
            </article>
        {% endfor %}
    {% else %}
        <p>V podatkovni bazi ni mest.</p>
    {% endif %}
</section>
{% endblock %}
