{% extends "base.html" %}

{% block title %}
Začetna stran
{% endblock %}

{% block content %}
<section>
    <h1>Obisk mest</h1>

    <form method="GET" action="{{ url_for('index') }}">
        <label for="mesto">
            Poišči mesto:
        </label>

        <input
            type="text"
            id="mesto"
            name="mesto"
            value="{{ iskanje }}"
            placeholder="npr. Slovenj Gradec"
        >

        <button type="submit">
            Poišči
        </button>

        {% if iskanje %}
            <a href="{{ url_for('index') }}">
                Počisti
            </a>
        {% endif %}
    </form>


    <p>
        Izberi mesto in preveri njegove aktivnosti,
        znamenitosti in dogodke.
    </p>

    {% if mesta %}
        {% for mesto in mesta %}
            <article>
                <h2>
                    <a href="{{ url_for('mesto', id=mesto['id']) }}">
                        {{ mesto["ime"] }}
                    </a>
                </h2>

                <p>Država: {{ mesto["drzava"] }}</p>

                <p>
                    Priljubljenost:
                    {{ mesto["priljubljenost"] }}/5
                </p>

                <p>
                    Priporočeno število dni:
                    {{ mesto["priporoceni_dnevi"] }}
                </p>
            </article>
        {% endfor %}
    {% else %}
        <p>V podatkovni bazi ni mest.</p>
    {% endif %}
</section>
{% endblock %}
