{% extends "base.html" %}

{% block title %}
Seznam mest
{% endblock %}

{% block content %}
    <section>
        <h1>Svetovna mesta</h1>

        <p>
            Izberi mesto in preveri njegove aktivnosti,
            znamenitosti in dogodke.
        </p>

        {% for mesto in mesta %}
            <article>
                <h2>
                    <a href="{{ url_for('mesto', id=mesto['id']) }}">
                        {{ mesto["ime"] }}
                    </a>
                </h2>


                <p>
                    Priljubljenost:
                    {{ mesto["priljubljenost"] }}
                </p>

                <p>
                    Priporočeno število dni:
                    {{ mesto["priporoceni_dnevi"] }}
                </p>
            </article>
        {% else %}
            <p>V podatkovni bazi ni mest.</p>
        {% endfor %}
    </section>
{% endblock %}
