{% extends "base.html" %}

{% block title %}
{{ mesto["ime"] }}
{% endblock %}

{% block content %}
<section>
    <h1>{{ mesto["ime"] }}</h1>

    <p>
        Država: {{ mesto["drzava"] }}
    </p>

    <p>
        Časovni pas: {{ mesto["casovni_pas"] }}
    </p>

    <p>
        Priljubljenost:
        {{ mesto["priljubljenost"] }}/5
    </p>

    <p>
        Priporočeno število dni:
        {{ mesto["priporoceni_dnevi"] }}
    </p>
</section>

<section>
    <h2>Aktivnosti v mestu</h2>

    <form method="GET">
        <label>
            <input
                type="checkbox"
                name="za_otroke"
                value="DA"
                {% if samo_za_otroke %}checked{% endif %}
            >
            Samo primerno za otroke
        </label>
        
        <label>
            <input
                type="checkbox"
                name="celo_leto"
                value="DA"
                {% if samo_celo_leto %}checked{% endif %}
            >
            Samo aktivnosti skozi celo leto
        </label>
        
        <button type="submit">Uporabi filter</button>
        
        <a href="{{ url_for("mesto", id=mesto["id"]) }}">
            Počisti filtre
        </a>
    </form>

    {% if aktivnosti %}
        {% for aktivnost in aktivnosti %}
            <article>
                <h3>{{ aktivnost["ime"] }}</h3>

                <p>
                    Ocena: {{ aktivnost["ocena"] }}/5
                </p>

                <p>
                    Vstopnina:
                    {{ aktivnost["vstopnina"] }}
                </p>

                <p>
                    Primerno za otroke:
                    {{ aktivnost["za_otroke"] }}
                </p>
                
                <p>
                    Letni čas:
                    {% if aktivnost["stevilo_letnih_casov"] == 4 %}
                        celo leto
                    {% elif aktivnost["letni_casi"] %}
                        {{ aktivnost["letni_casi"]|replace(",", ", ") }}
                    {% else %}
                        ni podatka
                    {% endif %}
                </p>
            </article>
        {% endfor %}
    {% else %}
        <p>Za to mesto ni najdenih aktivnosti.</p>
    {% endif %}
</section>

<section>
    <h2>Znamenitosti</h2>
    
    {% if znamenitosti %}
        {% for znamenitost in znamenitosti %}
            <article>
                <h3>{{ znamenitost["ime"] }}</h3>
                <p>Ocena: {{ znamenitost["ocena"] }}/5</p>
                <p>Vstopnina: {{ znamenitost["vstopnina"] }}</p>
                <p>
                    Primerno za otroke:
                    {{ znamenitost["za_otroke"] }}
                </p>
            </article>
        {% endfor %}
    {% else %}
        <p>Za to mesto ni najdenih znamenitosti.</p>
    {% endif %}
</section>

<section>
    <h2>Dogodki</h2>
    
        {% if dogodki %}
            {% for dogodek in dogodki %}
                <article>
                    <h3>{{ dogodek["ime"] }}<h3>
                    <p>Datum: {{ dogodek["datum"] }}</p>
                    <p>Stanje: {{ dogodek["stanje"] }}</p>
                    <p>Vstopnina: {{ dogodek["vstopnina"] }}</p>
                    <p>
                        Primerno za otroke:
                        {{ dogodek["za_otroke"] }}
                    </p>
                </article>
            {% endfor %}
        {% else %}
            <p>Za to mesto ni najdenih dogodkov.</p>
    {% endif %}
</section>
{% endblock %}
