{% extends "base.html" %}

{% block title %}
{{ mesto["ime"] }}
{% endblock %}

{% block content %}
<section>
    <h1>{{ mesto["ime"] }}</h1>

    <p>
        Država: {{ mesto["drzava"] }}
    </p>

    <p>
        Časovni pas: {{ mesto["casovni_pas"] }}
    </p>

    <p>
        Priljubljenost:
        {{ mesto["priljubljenost"] }}/5
    </p>

    <p>
        Priporočeno število dni:
        {{ mesto["priporoceni_dnevi"] }}
    </p>
</section>

<section>
    <h2>Ocene uporabnikov</h2>
    {% if ocena_podatki["stevilo_ocen"] > 0 %}
        <p>
            Povprečna uporabniška ocena:
            {{ ocena_podatki["povprecje"] }}/5
        </p>
        <p>
            Število ocen:
            {{ ocena_podatki["stevilo_ocen"] }}
        </p>
    {% else %}
        <p>To mesto še nima uporabniških ocen.</p>
    {% endif %}
    <a href="{{ url_for('oceni', mesto_id=mesto['id']) }}">
        Oceni mesto
    </a>
</section>

<section>
    <h2>Aktivnosti v mestu</h2>

    <form method="GET">
        <label>
            <input
                type="checkbox"
                name="za_otroke"
                value="DA"
                {% if samo_za_otroke %}checked{% endif %}
            >
            Samo primerno za otroke
        </label>
        
        <label>
            <input
                type="checkbox"
                name="celo_leto"
                value="DA"
                {% if samo_celo_leto %}checked{% endif %}
            >
            Samo aktivnosti skozi celo leto
        </label>
        
        <button type="submit">Uporabi filter</button>
        
        <a href="{{ url_for('mesto', id=mesto["id"]) }}">
            Počisti filtre
        </a>
    </form>

    {% if aktivnosti %}
        {% for aktivnost in aktivnosti %}
            <article>
                
                <h3>
                    <a href="{{ url_for('aktivnost', id=aktivnost['id']) }}">
                        {{ aktivnost["ime"] }}
                    </a>
                </h3>

                <p>
                    Ocena: {{ aktivnost["ocena"] }}/5
                </p>

                <p>
                    Vstopnina:
                    {{ aktivnost["vstopnina"] }}
                </p>

                <p>
                    Primerno za otroke:
                    {{ aktivnost["za_otroke"] }}
                </p>
                
                <p>
                    Letni čas:
                    {% if aktivnost["stevilo_letnih_casov"] == 4 %}
                        celo leto
                    {% elif aktivnost["letni_casi"] %}
                        {{ aktivnost["letni_casi"]|replace(",", ", ") }}
                    {% else %}
                        ni podatka
                    {% endif %}
                </p>
            </article>
        {% endfor %}
    {% else %}
        <p>Za to mesto ni najdenih aktivnosti.</p>
    {% endif %}
</section>

<section>
    <h2>Znamenitosti</h2>
    
    {% if znamenitosti %}
        {% for znamenitost in znamenitosti %}
            <article>
                <h3>
                    <a href="{{ url_for('znamenitost', id=znamenitost['id']) }}">
                        {{ znamenitost["ime"] }}
                    </a>
                </h3>
                <p>Ocena: {{ znamenitost["ocena"] }}/5</p>
                <p>Vstopnina: {{ znamenitost["vstopnina"] }}</p>
                <p>
                    Primerno za otroke:
                    {{ znamenitost["za_otroke"] }}
                </p>
            </article>
        {% endfor %}
    {% else %}
        <p>Za to mesto ni najdenih znamenitosti.</p>
    {% endif %}
</section>

<section>
    <h2>Dogodki</h2>
    
        {% if dogodki %}
            {% for dogodek in dogodki %}
                <article>
                    <h3>
                        <a href="{{ url_for('dogodek', id=dogodek['id']) }}">
                            {{ dogodek["ime"] }}
                        </a>
                    </h3>
                    <p>Datum: {{ dogodek["datum"] }}</p>
                    <p>Stanje: {{ dogodek["stanje"] }}</p>
                    <p>Vstopnina: {{ dogodek["vstopnina"] }}</p>
                    <p>
                        Primerno za otroke:
                        {{ dogodek["za_otroke"] }}
                    </p>
                </article>
            {% endfor %}
        {% else %}
            <p>Za to mesto ni najdenih dogodkov.</p>
    {% endif %}
</section>

<section>
    <h2>Razdalje med znamenitostmi</h2>

    {% if razdalje %}
        {% for razdalja in razdalje %}
            <article>
                <p>
                    
                    <a href="{{ url_for(
                        'znamenitost',
                        id=razdalja['znamenitost1_id']
                    ) }}">
                        {{ razdalja["znamenitost1"] }}
                    </a>
                    ->
                    <a href="{{ url_for(
                        'znamenitost',
                        id=razdalja['znamenitost2_id']
                    ) }}">
                        {{ razdalja["znamenitost2"] }}
                    </a>
                </p>
                <p>
                    Razdalja:
                    {{ razdalja["razdalja_km"] }} km
                </p>
            </article>
        {% endfor %}
    {% else %}
        <p>
            Za to mesto še ni vnesenih
            razdalj med znamenitostmi.
        </p>
    {% endif %}
</section>

<section>
    <h2>Obišči tudi bližnja mesta</h2>

    {% if bliznja_mesta %}
        {% for bliznje in bliznja_mesta %}
            <article>
                <h3>
                    <a href="{{ url_for('mesto', id=bliznje['id']) }}">
                        {{ bliznje["ime"] }}
                    </a>
                </h3>

                <p>Razdalja: {{ bliznje["razdalja_km"] }} km</p>
                <p>
                    Priljubljenost:
                    {{ bliznje["priljubljenost"] }}/5
                </p>
                <p>
                    Priporočeno število dni:
                    {{ bliznje["priporoceni_dnevi"] }}
                </p>

                {% if bliznje["top_znamenitost"] %}
                    <p>
                        Predlog ogleda:
                        {{ bliznje["top_znamenitost"] }}
                    </p>
                {% endif %}
            </article>
        {% endfor %}
    {% else %}
        <p>
            V podatkovni bazi ni drugega mesta
            iz iste države.
        </p>
    {% endif %}
</section>
{% endblock %}
