{% extends "base.html" %}
{% block title %}
Top mesta
{% endblock %}
{% block content %}
<section>
    <h1>Top 10 mest</h1>
    <p>
        Mesta z najvišjo oceno priljubljenosti.
    </p>
    {% if mesta %}
        {% for mesto in mesta %}
            <article>
                <h2>
                    {{ loop.index }}.
                    <a href="{{ url_for(
                        'mesto',
                        id=mesto['id']
                    ) }}">
                        {{ mesto["ime"] }}
                    </a>
                </h2>
                <p>Država: {{ mesto["drzava"] }}</p>
                <p>
                    Priljubljenost:
                    {{ mesto["priljubljenost"] }}/5
                </p>
                <p>
                    Priporočeno število dni:
                    {{ mesto["priporoceni_dnevi"] }}
                </p>
            </article>
        {% endfor %}
    {% else %}
        <p>V podatkovni bazi ni mest.</p>
    {% endif %}
</section>
{% endblock %}
